<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="fox, club" />
    <meta name="description" content="" />
    <link href="styles.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,900&display=swap" rel="stylesheet">

    <title>login | WOLF CLUB</title>
</head>

<body>
    <div id="h1">
        <h1>Welcome to Black Wolf Club!</h1>
    </div>
    <img class="wolf" src="fox.svg" />
    <div class="left-form">
        <form action="save" method="post">
            <h2>Find your Wolf!</h2>
            <tr>
                <td><label for="user-name">Login Name</label></td><br><br>
                <td><input type="text" name="name"></input></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="button" type="submit" value="Submit"></input></td>
            </tr>
        </form>
    </div>
    <div class="right-form">
        <form action="save" method="post">
            <h2>Create your Wolf:</h2>
            <tr>
                <td><label for="registration-name">Registration Name</label></td><br><br>
                <td><input type="text" name="name"></input></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="button" type="submit" value="Submit"></input></td>
            </tr>
        </form>
    </div>
</body>

</html>