<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>shop</title>
</head>

<body>
    <h1>My Shop</h1>
    <table class="table">
        <thead>
        <tr>
            <th><form method="get" action="/store/only-available"><input type="submit" value="Only Available"></form></th>
            <th><form method="get" action="/store/cheapest-first"><input type="submit" value="Cheapest first"></form></th>
            <th><form method="get" action="/store/contains-nike"><input type="submit" value="Contains Nike"></form></th>
            <th><form method="get" action="/store/average-stock"><input type="submit" value="Average stock"></form></th>
            <th><form method="get" action="/store/most-expensive"><input type="submit" value="Most expensive available"></form></th>
        </tr>
        </thead>
    </table>

    <form method="post" action="/store/search">
        <input name="search" type="text">
        <input type="submit" value="SEARCH">
    </form>

    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Quantity of Stock</td>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${item}">
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPrice()()}"></td>
            <td th:text="${item.getQuantityOfStock()}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>