<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login | THE REDDIT</title>
</head>
<body>
    <form th:action="'/index'" th:method="post">
        <label th:for="'username'" th:text="'Username'"></label>
        <input th:type="'text'" th:placeholder="'...'" th:id="'username'" th:name="'username'"> <!–– $ name is used to reference elements in a Java/JavaScript -->

        <label th:for="'password'" th:text="'Password'"></label>
        <input th:type="'password'" th:placeholder="'...'" th:id="'password'" th:name="'password'">

        <input th:type="'submit'" th:value="'Done'">
    </form>
    <div>
        <p>Do you want an account?</p>
        <a th:href="'/registration'" th:text="'Registration'"></a>
    </div>
</body>
</html>