<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new ToDo | TODO APP</title>
    <link th:rel="'stylesheet'" th:type="'text/css'" th:href="'/style.css'">
</head>
<body>
    <h1>Add new ToDo:</h1>
    <form th:method="post">
        <label th:for="'titleToDo'" >Name of ToDo:</label>
        <input th:id="'titleTodo'" type="text" name="todo"><br>
        <label th:for="'urgentToDo'" >Is that urgent?</label><br>
        <input th:id="'urgentTodo'" type="radio" name="urgent" value="true">true<br>
        <input th:id="'urgentTodo'" type="radio" name="urgent" value="false">false<br>
        <button type="submit" th:text="'Submit'"></button>
    </form>

</body>
</html>