<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of ToDos | TODO APP</title>
    <link th:rel="'stylesheet'" th:type="'text/css'" th:href="'/styles.css'">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>
<body>
    <h1>ToDos for today:</h1>
    <div style="overflow-x:auto;">
    <div class="todo">
        <form method="post" action="/todo/search">
            <label class="field" th:for="'titleToDo'" >Search:</label>
            <input class="text-type" name="search" type="text" aria-label="Recipient's username" aria-describedby="button-addon2"><br><br>
            <input class="button-green" type="submit" value="SEARCH"><br><br>
        </form>
        <table class="table">
            <thead>
                <tr class="row-main">
                    <td class="field-head" th:text="'ID'"></td>
                    <td class="field-head"th:text="'Title'"></td>
                    <td class="field-head"th:text="'Done'"></td>
                    <td class="field-head"th:text="'Urgent'"></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="todo : ${todos}">
                    <td class="field-body" th:text="${todo.getId()}"></td>
                    <td class="field-body" th:text="${todo.getTitle()}"></td>

                    <td class="field-body" th:if="${todo.isDone() == true}">✓</td>
                    <td class="field-body" th:if="${todo.isDone() == false}">✗</td>
                    <td class="field-body" th:if="${todo.isUrgent() == true}">✓</td>
                    <td class="field-body" th:if="${todo.isUrgent() == false}">✗</td>

                    <td><a class="button-delete" th:href="'/todo/' + ${todo.getId()} + '/delete'" th:text="'Delete'"></a></td>
                    <td><a class="button-update" th:href="'/todo/' + ${todo.getId()} + '/update'" th:text="'Update'"></a></td>
                </tr>
            </tbody>
        </table><br><br>
        <a class="button-green" th:href="'/todo/addtodo'" th:text="'+'"></a>
    </div>
    </div>
</body>
</html>