<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bank of Simba</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>

<body>
<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal Type</th>
    <tr th:each="account : ${accountList}">
        <td th:text="${account.}"></td>
        <td th:text="${account.getBalanceString()} +' '+ ${currency}"></td>
        <td th:text="${account.getAnimalType()}"></td>
    </tr>
</table>
</body>
</html>